.book-list {
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box; }
  .book-list .book-wrap .book {
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    display: block; }
    .book-list .book-wrap .book .book-item {
      width: 100%;
      padding: 21.16% 0;
      background-color: #fff;
      background-size: 100%;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: 1;
      background-image: url("https://img1.doubanio.com/view/freyr_page_photo/raw/public/4938.jpg"); }
      .book-list .book-wrap .book .book-item .price {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        background-color: #e76648;
        color: #fff;
        font-size: 16px;
        line-height: 22px;
        padding: 2px 8px 2px 5px;
        font-weight: 400; }
      .book-list .book-wrap .book .book-item .cover {
        position: absolute;
        z-index: 2;
        left: 20px;
        width: 90px;
        height: 120px;
        bottom: -80px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("https://img1.doubanio.com/view/freyr_page_photo/raw/public/4939.jpg"); }
    .book-list .book-wrap .book .info {
      background-color: #fff;
      padding: 20px 20px 20px 125px;
      line-height: 20px; }
      .book-list .book-wrap .book .info h3 {
        color: #494949;
        padding: 0 0 5px;
        font-size: 19px;
        line-height: 26px;
        font-weight: 700; }
      .book-list .book-wrap .book .info p {
        overflow: hidden;
        display: -webkit-box;
        font-size: 14px;
        color: #9b9b9b;
        word-break: break-all; }
